---
---

@import "{{ site.theme }}";

.top-layout {
	@media screen and (min-width: 64em) {
		display: grid;
		grid-template-columns: 200px 1fr;
		align-items: center;
	}
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__btn {
		display: block;

		&--next {
			&::before {
				content: "Next";
			}
		}
		&--back {
			&::before {
				content: "Back";
			}
		}
	}
}

.img-box {
	text-align: center;
}
