---
---

@import "{{ site.theme }}";

.project-header {
	background-color: #61337A;
    background-image: linear-gradient(15deg, black, transparent);
}

.top-layout {
	@media screen and (min-width: 64em) {
		display: grid;
		grid-template-columns: 200px 1fr;
		align-items: center;
	}
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__btn {
		display: grid;
		column-gap: 0.5em;
		align-items: center;
		color: rgba(255, 255, 255, 0.7);
		background-color: rgba(97, 51, 122, 0.8);
		border-color: rgba(97, 51, 122, 0.8);
		border-style: solid;
		border-width: 1px;
		border-radius: 0.3rem;
		transition: color 0.2s, background-color 0.2s, border-color 0.2s;
		padding: 0.25em 0.5em;

		&--next, &--back {
			&::before, &::after {
				font-size: smaller;
			}
			&::before {
				grid-column: 1 / 3;
				grid-row: 1 / 2;
			}
			&::after {
				grid-row: 2 / 3;
			}
		}
		&--next {
			&::before {
				content: "Next";
				text-align: left;
			}
			&::after {
				content: ">";
				grid-column: 2 / 3;
			}
		}
		&--back {
			&::before {
				content: "Back";
				text-align: right;
			}
			&::after {
				content: "<";
				grid-column: 1 / 2;
			}
		}
		&--empty {
			padding: 0;
			visibility: hidden;
		}

		&:hover {
			color: rgba(255, 255, 255, 0.8);
			text-decoration: none;
			background-color: rgba(97, 51, 122, 0.6);
		}
	}
}

.img-box {
	text-align: center;
}
