---
---

@import "{{ site.theme }}";

.top-layout {
	@media screen and (min-width: 64em) {
		display: grid;
		grid-template-columns: 200px 1fr;
		align-items: center;
	}
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__btn {
		display: grid;
		column-gap: 0.5em;

		&--next {
			&::before {
				grid-column: 1 / 3;
				grid-row: 1 / 2;
			}
			&::after {
				grid-row: 2 / 3;
			}
		}
		&--next {
			&::before {
				content: "Next";
				text-align: left;
			}
			&::after {
				content: ">";
				grid-column: 2 / 3;
			}
		}
		&--back {
			&::before {
				content: "Back";
				text-align: right;
			}
			&::after {
				content: "<";
				grid-column: 1 / 2;
			}
		}
	}
}

.img-box {
	text-align: center;
}
