name: Source Code Check

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch: {}

jobs:
  test:
    if: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm
      - run: npm ci
      - run: npm run type-check
      - run: npm run lint

  sha256:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: shasum -a 256 package.json
